.app {
  height: 100%;
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  min-width: 900px;
  padding-top: 72px;
  position: relative;

  &__content {
    display: flex;
    justify-content: space-between;
  }
}

